extends ../layout

block content



  .row
    .col-sm-4
        .row
          .col-sm-12
            p
              a.btn.btn-success(href="/event/new") Crear nuevo encuentro local
        .row
            form#search-form(method="GET")
              .col-sm-9
                  input#search-box.form-control(type="text" name="text" placeholder='ej: libertad de expresion, aborto, pena de muerte, ...' value="#{query || '' }")
              .col-sm-3
                  input.btn.btn-primary(type="submit" value="Buscar")
        .event-list
          for event in events
              .row.event-location
                .col-sm-9
                  p.js-scroll-to-location(data-coords="#{JSON.stringify(event.location)}") #{event.title}
                  small Fecha: #{event.date}

                .col-sm-3
                  a.btn.btn-info.btn-sm(href="/event/#{event.id}") Detalles >

    .col-sm-8
        div#list-event-map

block extra-scripts
    != js('list-event-map')

    script.
        var searchResults = !{JSON.stringify(events)};


