extends ../layout

block content

    .col-sm-4
        h1 #{event.title}

        p #{event.description}

        p Participantes:

        if event.participants
            ul
            for participant in event.participants
                li #{participant.email}
        .js-event-coords

        .addthis_native_toolbox
    .col-sm-8
        div#show-event-map(data-coords="#{JSON.stringify(event.location)}" data-address='#{event.address}' data-title='#{event.title}')

block extra-scripts
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-572e42ebc8e2a29e"></script>
